
body {
    background-image: url("football.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

div.ps {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%; 
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

input[type='text'],
input[type='file'],
input[type='submit'],
select {
    border: 1.5px solid #ccc; 
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); 
    box-sizing: border-box;
}

input[type='radio'] {
    margin-right: 10px; 
}
